@model List<GestionPrj.Models.Projet>
<a asp-action="Add" asp-controller="Projet" class="btn btn-primary">Ajouter</a>

<div class="container">
    <h2>Liste des Projets</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
               
                <th>User Story</th>
                <th>Sprint</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Projet P in Model)
            {
                <tr>
                    <td>@P.Id</td>
                    <td>@P.Nom</td>
                    <td>@P.Description</td>
                    <td>@P.Date_debut</td>
                    <td>@P.Date_fin</td>
                   
                    <td>
                        <ul class="sprint-list">

                            @{
                                int c = 0;
                            @foreach (var US in P.UserStories)
                            {
                                    <li class="@(c++ >= 3 ? "hidden-sprint" : "")">@US.Description</li>


                            }
                            }
                        </ul>
                        @if (P.Sprints.Count > 3)
                        {
                            <a href="#" class="show-more">Afficher plus</a>
                            <a href="#" class="show-less" style="display: none;">Afficher moins</a>
                        }
                    </td>
                    <td>
                        <ul class="sprint-list">
                            @{
                                int count = 0;
                                foreach (var sprint in P.Sprints)
                                {
                                    <li class="@(count++ >= 3 ? "hidden-sprint" : "")">@sprint.Nom</li>
                                }
                            }
                        </ul>
                        @if (P.Sprints.Count > 3)
                        {
                            <a href="#" class="show-more">Afficher plus</a>
                            <a href="#" class="show-less" style="display: none;">Afficher moins</a>
                        }
                    </td>



                    <td>

                        <a asp-action="Update" asp-controller="Projet" asp-route-id="@P.Id" class="btn btn-primary">Modifier</a>
                        <a asp-action="Delete" asp-controller="Projet" onclick="return confirm('vous etes sur de supprimer ?')" asp-route-id="@P.Id" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

<style>
    .hidden-sprint {
        display: none;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.show-more').click(function (e) {
            e.preventDefault();
            $(this).siblings('.sprint-list').find('.hidden-sprint').show();
            $(this).hide();
            $(this).siblings('.show-less').show();
        });

        $('.show-less').click(function (e) {
            e.preventDefault();
            $(this).siblings('.sprint-list').find('.hidden-sprint').hide();
            $(this).hide();
            $(this).siblings('.show-more').show();
        });
    });
</script>
